*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none!important;
}
li{
	list-style: none!important;
}

.for-mobile{
	display: none;
}
header{
	background: #fff;
	height: 8vh;
	display: flex;
	align-items: center;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
	width: 100%;
  }
header img{
	width: 180px;
}
#hero{
	display: flex;
	align-items: center;
	position: relative;
	height: 92vh;
	background: #141423;
}
.hero-row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero-content{
	width: 46%;
	padding-left: 10px;
}
.hero-img{
	width: 46%;
	-webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
.hero-img img{
	width: 100%;
	
}
}
@-webkit-keyframes action {
0% { transform: translateY(0); }
100% { transform: translateY(-10px); }
}
@keyframes action {
0% { transform: translateY(0); }
100% { transform: translateY(-10px); }
}
.hero-content p{
	color: #e2e2e2;
	padding-right: 70px;
	margin-top: 20px;
	font-size: 20px;
	line-height: 1.8;
	margin-left: -10px;
}
.content-heading-one{
	background: #1BE3F2;
	display: inline-block;
	padding: 2px 20px;
	transform: translateX(30px) skewX(-15deg);
}
.content-heading-tow{
	background: #1CFEC7;
	display: inline-block;
	padding: 2px 20px;
	margin-top: -1px;
	transform: translateX(0px) skewX(-15deg);
}
.content-heading-one h2{
	font-size: 40px;
	color: 141423;
	margin: 0;
	font-weight: bold;
}
.content-heading-tow h3{
	font-size: 40px;
	color: 141423;
	font-weight: bold;
	margin: 0;

}
.footer-bottom{
	position: absolute;
	left: 50%;
	bottom: 40px;
	transform: translate(-50%,0);
}
.socail-icon {
	width: 100%;
	display: block;
	text-align: center;
}
.socail-icon ul{
	width: 100%;
	display: flex;
	justify-content: center
}
.socail-icon ul li{
	margin: 20px;
}
.socail-icon ul  li a i{
	color: #fff;
	font-size: 28px;
	transition: .6s;
}
.socail-icon ul  li a i:hover{
	transform: translateY(-10px)
}
.socail-icon p{
	color: #fff;
}